{% extends "layout/default.html" %}

{% load static %}

{% block containerless %}
    <div class="section" style="background-color: #5D9EDE;color:white;background-image: url('{% static "img/bg1.png" %}');padding: 100px 0;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1>x5quiz</h1>
                    <h5>Wrapper around x5gon's search API, automatic quiz generator for x5gon materials with built-in statistics, leaderboards & more.</h5>
                </div>
                <div class="col-12 col-md-6"></div>
            </div>
        </div>
    </div>
    <div class="section-small" style="background-color: #343A40;">
        <div class="container">
            <center>
                <img src="{% static "img/iitp_logo.png" %}" alt="IITP logo" height="50" style="padding: 0 35px;">
                <img src="{% static "img/x5gon_logo.png" %}" alt="x5gon logo" height="50" style="padding: 0 35px;">
            </center>
        </div>
    </div>
    <div class="section" style="background-color: #4E545A;color:white;">
        <div class="container">
            <h1>x5quiz</h1>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
    </div>
    <div class="section">
        <center>
            <h2 class="margin-bottom">How does it work?</h2>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <i class="fas fa-search fa-3x"></i>
                        <h2>1. Search</h2>
                        <p>Use our wrapper around x5gon to search for things you'd like to learn.</p>
                    </div>
                     <div class="col-12 col-md-3">
                        <i class="fas fa-book fa-3x"></i>
                        <h2>2. Study</h2>
                        <p>Study/read the documents.</p>
                    </div>
                     <div class="col-12 col-md-3">
                        <i class="fas fa-vial fa-3x"></i>
                        <h2>3. Test</h2>
                        <p>Start a quiz and test how much you've remembered.</p>
                    </div>
                     <div class="col-12 col-md-3">
                        <i class="fas fa-signal fa-3x"></i>
                        <h2>4. Compete</h2>
                        <p>See how well other users answered the quiz and climb the leaderboard.</p>
                    </div>
                </div>
            </div>
        </center>
    </div>
    <div class="section" style="background-color: #4e545a;color:white;">
        <center>
            <h3>What are you waiting for?</h3>
            <a href="{% url "accounts-signup" %}" class="btn btn-primary">Sign up - it's free!</a>
        </center>
    </div>
{% endblock %}