* {

}

ol, ul {
    padding: 0 10px;
}

footer {
    padding: 18px;
    background: #343A40;
    color: white;
}

.text-center {
    text-align: center;
}

.section {
    padding: 50px 0;
}

.section-small {
    padding: 25px 0;
}

.margin-bottom {
    margin-bottom: 30px;
}

.green {
    color: #27ae60;
}

.red {
    color: #c0392b;
}

.transparent {
    opacity: 0.5;
}

.additional {
    color: white;
}

.centered {
    margin: 5% 25%;
}