{% extends "layout/default.html" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Learn</h2>
            <div class="card-text">
                <form action="{% url 'quiz-search' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="query">What would you like to learn today?</label>
                        <input type="text" class="form-control" id="query" name="query" aria-describedby="queryHelp" placeholder="Keywords separated with comma (eg. java, object, oriented, programming).">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}