{% extends "layout/default.html" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Learn</h2>
            <div class="card-text">
                <form>
                    <div class="form-group">
                        <label for="categoryInput">What would you like to learn today?</label>
                        <input type="text" class="form-control" id="categoryInput" aria-describedby="categoryHelp" placeholder="">
                    </div>
                    <button type="button" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}