{% extends "layout/default.html" %}

{% block subtitle %}Quiz > {{ document.title }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Quiz > {{ document.title }}</h2>
            <div class="card-text">
                <p>Test your knowledge to see how much you've remembered.</p>
                <form action="{% url 'quiz-submit' quiz_pk=quiz.pk %}" method="post" novalidate>
                {% csrf_token %}
                {% for question in quiz.get_quiz_questions %}
                    <hr>
                    <h4 class="card-title">{{ forloop.counter }}. {{ question.text }}</h4>
                    {% for answer in question.get_quiz_answers %}
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="{{ forloop.parentloop.counter }}-{{ forloop.counter }}" name="{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                          <label class="custom-control-label" for="{{ forloop.parentloop.counter }}-{{ forloop.counter }}">{{ answer.text }}</label>
                        </div>
                    {% endfor %}
                {% endfor %}
                <hr>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}