{% extends "layout/default.html" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Quiz > {{ document.title }}</h2>
            <div class="card-text">
                <p>Test your knowledge to see how much you've remembered.</p>
                {% for question in quiz.get_quiz_questions %}
                    <hr>
                   <h4 class="card-title">{{ forloop.counter }}. {{ question.text }}</h4>
                    {% for answer in question.get_quiz_answers %}
                        <div class="form-check">
                            <input type="radio" name="" id="" value="">
                            <label class="form-check-label" for="">
                                {{ answer.text }}
                            </label>
                        </div>
                    {% endfor %}
                {% endfor %}
                <hr>
                <a href="#" class="btn btn-primary">Submit</a>
            </div>
        </div>
    </div>
{% endblock %}