{% extends "layout/default.html" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="card-text">
                <h2 class="card-title">Searching for '{{ keyword }}'</h2>
            </div>
        </div>
    </div>
    {% if results.count == 0 %}
        Ouch, no documents found.
    {% else %}
        <div class="row">
            {% for result in results %}
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">{{ result.title }} (rel: {{ result.weight }})</div>
                        <div class="card-text">
                            {{ result.description|truncatewords:25 }}
                            <hr>
                            <a href="{% url "quiz-learn" document_id=result.material_id %}" class="btn btn-primary">Learn</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}