{% extends "layout/centered.html" %}

{% load crispy_forms_tags %}

{% block subtitle %}Login{% endblock %}

{% block form_title %}Login{% endblock %}
{% block form_content %}
    <form action="{% url 'accounts-login' %}" method="post" novalidate>
		{% csrf_token %}
    	{{ form|crispy }}
		<div class="center">
			<button class="btn btn-primary" type="submit">Login</button>
		</div>
	</form>
{% endblock %}
{% block form_additional %}Don't have an account yet? <a href="{% url "accounts-signup" %}">Sign up</a>{% endblock %}