{% extends "layout/default.html" %}

{% load accounts_filters %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Top members</h2>
            <table class="table table-stripped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Username</th>
                  <th scope="col">Karma</th>
                  <th scope="col">View profile</th>
                </tr>
              </thead>
              <tbody>
                {% for member in members %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ member.username }}</td>
                      <td>{{ member|fetch_karma }}</td>
                      <td><a href="{% url "accounts-profile" username=user.username %}">View profile</a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
{% endblock %}