{% extends "layout/default.html" %}

{% load accounts_filters %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Users <small>(filtered by: points)</small></h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username <i class="fas fa-sort"></i></th>
                        <th scope="col">Points <i class="fas fa-sort"></i></th>
                        <th scope="col">View profile</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ member.username }}</td>
                        <td>{{ member|fetch_points }}</td>
                        <td><a href="{% url " accounts-profile " username=member.username %}">View profile</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}