{% extends "layout/default.html" %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="card">
                <div class="card-body">
                    <img src="{% static "img/user-fallback.png" %}" class="img-fluid" alt="Avatar">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Description</h4>
                    <div class="card-text">
                        {{ profile.description }}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Statistics</h4>
                    <div class="card-text">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Documents read</th>
                                    <td>{{ statistics.documents_read }}</td>
                                </tr>
                                  <tr>
                                    <th>Documents rated</th>
                                    <td>{{ statistics.documents_rated }}</td>
                                </tr>
                                <tr>
                                    <th>Quizzes played</th>
                                    <td>{{ statistics.quizzes_played }}</td>
                                </tr>
                                <tr>
                                    <th>Points</th>
                                    <td>{{ statistics.points }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}