{% extends "layout/centered.html" %}

{% load static %}
{% load crispy_forms_filters %}

{% block subtitle %}Sign up{% endblock %}

{% block form_title %}Sign up{% endblock %}
{% block form_content %}
    <form action="{% url 'accounts-signup' %}" method="post" novalidate>
		{% csrf_token %}
    	{{ form|crispy }}
		<div class="center">
			<button class="btn btn-primary" type="submit">Sign up</button>
		</div>
	</form>
{% endblock %}
{% block form_additional %}Already have an account? <a href="{% url "accounts-login" %}">Log in</a>{% endblock %}