{% load static %}

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url "home-index" %}">
                <img src="{% static "img/logo.png" %}" alt="x5quiz logo" height="20">
            </a>
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "accounts-home" %}">Home</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "home-index" %}">Home</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "quiz-index" %}">Learn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "accounts-members" %}">Users</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Logged in as {{ user.username }}
                                </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url "accounts-profile" username=user.username %}">Profile</a>
                                <a class="dropdown-item" href="{% url "accounts-settings" %}">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url "accounts-logout" %}">Log out</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "accounts-login" %}"><i class="fas fa-user"></i> Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "accounts-signup" %}"><i class="fas fa-user-plus"></i> Sign up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>