{% extends "base.html" %}

{% load static %}

{% block additional_imports %}
    <link rel="stylesheet" href="{% static "css/centered.css" %}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="centered text-center">
            <img src="{% static "img/logo.png" %}" alt="x5quiz logo">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% block form_title %}{% endblock %}</h5>
                    <p class="card-text">{% block form_content %}{% endblock %}</p>
                </div>
            </div>
            <div class="float-right additional">{% block form_additional %}{% endblock %}</div>
        </div>
        <style>
            body {
                background: #343A40;
            }
        </style>
    </div>
{% endblock %}